
// GENERAL

body {
  background-color: #F8F8F8;
}

.page-header {
  margin-top: 60px;
  text-align: center;
}

.searchbar {
  margin: auto;
  margin-top: 45px;
  width: 50%;
  min-width: 300px;
  -webkit-box-shadow: 0 8px 6px -6px #777;
  -moz-box-shadow: 0 8px 6px -6px #777;
  box-shadow: 0 8px 6px -6px #777;
}

.btn-menu {
  text-align: center;
  margin: auto;
  margin-top: 60px;
  display: flex;
  width: inherit;
  display: inline-block;
  .btn-group {
    -webkit-box-shadow: 0 8px 6px -6px #777;
    -moz-box-shadow: 0 8px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777;
  }
}

#sort-msg {
  text-align: center;
  margin-top: 1em;
}

.badge {
  margin-left: 9px;
  float: right;
}

a {
  color: #000063;
}

.link-icon {
  float: right;
  margin-left: 3px;
}

#nanobar {
  .bar {
    margin: 0 auto;
    border-radius: 4px;
  }
}

#timeline-container {
  width: 512px;
}

.floating-action-btn {
  box-shadow: 0 2px 2px 1px #777;
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  background: #1976d2;
  position: fixed;
  z-index: 99;
  bottom: 40px;
  right: 30px;
  color: #fff;
  text-align: center;
  transition: all .1s ease-out;
  line-height: 56px;
  font-size: 18px;
  &:hover {
    box-shadow: 0 1px 1px .5px #777;
  }
}

section:not(.year) {
  .project-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 8px -8px #777;
    -moz-box-shadow: 0 5px 8px -8px #777;
    box-shadow: 0 5px 8px -8px #777;
    transition: all .5s ease-out;
    &:hover {
      margin-left: 12px !important;
      -webkit-box-shadow: 0 10px 10px -10px #777;
      -moz-box-shadow: 0 10px 10px -10px #777;
      box-shadow: 0 10px 10px -10px #777;
      .desc {
        display: block;
        opacity: 1;
      }
    }
  }
}

.small-date {
  font-size: .6em;
}

.desc {
  opacity: 0;
  display: none;
  font-size: 12px;
  transition: visibility 2s, opacity 2s linear;
  .desc-list {
    margin-left: 5px !important;
    margin-top: 10px !important;
    padding-left: 10px !important;
    li {
      list-style-type: circle;
      margin-top: 5px !important;
    }
  }
  .desc-img {
    width: 100%;
  }
}
