body {
  background-color: #FAFAFA; }

.page-header {
  margin-top: 60px;
  text-align: center; }

.searchbar {
  margin: auto;
  margin-top: 45px;
  width: 50%;
  -webkit-box-shadow: 0 8px 6px -6px #777;
  -moz-box-shadow: 0 8px 6px -6px #777;
  box-shadow: 0 8px 6px -6px #777; }

.btn-menu {
  text-align: center;
  margin: auto;
  margin-top: 60px;
  display: flex;
  width: inherit;
  display: inline-block; }
  .btn-menu .btn-group {
    -webkit-box-shadow: 0 8px 6px -6px #777;
    -moz-box-shadow: 0 8px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777; }

#sort-msg {
  text-align: center;
  margin-top: 1em; }

.badge {
  margin-left: 9px;
  float: right; }

a {
  color: #000063; }

.link-icon {
  float: right;
  margin-left: 3px; }

#nanobar .bar {
  margin: 0 auto;
  border-radius: 4px; }

#timeline-container {
  width: 512px; }

.floating-action-btn {
  box-shadow: 0 2px 2px 1px #777;
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  background: #1976d2;
  position: fixed;
  z-index: 99;
  bottom: 60px;
  right: 60px;
  color: #fff;
  text-align: center;
  transition: all .1s ease-out;
  line-height: 56px;
  font-size: 18px; }
  .floating-action-btn:hover {
    box-shadow: 0 1px 1px .5px #777; }

.color-a {
  color: #fff;
  background-color: #1976d2;
  border-color: #1976d2; }

.color-b {
  color: #fff;
  background-color: #d84315;
  border-color: #d84315; }

.color-c {
  color: #fff;
  background-color: #689f38;
  border-color: #689f38; }

.color-d {
  color: #fff;
  background-color: #c2185b;
  border-color: #c2185b; }

.timeline-a div:after {
  background: #1976d2 !important; }

.timeline-a section.year section ul:first-of-type:after {
  background: #1976d2 !important;
  border: 2px solid #1466b7 !important; }

.timeline-b div:after {
  background: #d84315 !important; }

.timeline-b section.year section ul:first-of-type:after {
  background: #d84315 !important;
  border: 2px solid #b73812 !important; }

.timeline-c div:after {
  background: #689f38 !important; }

.timeline-c section.year section ul:first-of-type:after {
  background: #689f38 !important;
  border: 2px solid #56872f !important; }

.timeline-d div:after {
  background: #c2185b !important; }

.timeline-d section.year section ul:first-of-type:after {
  background: #c2185b !important;
  border: 2px solid #a5124c !important; }

#nanobar.bar-a .bar {
  background: #1976d2;
  box-shadow: 0 0 10px #1466b7; }

#nanobar.bar-b .bar {
  background: #d84315;
  box-shadow: 0 0 10px #b73812; }

#nanobar.bar-c .bar {
  background: #689f38;
  box-shadow: 0 0 10px #56872f; }

#nanobar.bar-d .bar {
  background: #c2185b;
  box-shadow: 0 0 10px #a5124c; }
