body {
  background-color: #F8F8F8; }

.page-header {
  margin-top: 60px;
  text-align: center; }

.searchbar {
  margin: auto;
  margin-top: 45px;
  width: 50%;
  min-width: 300px;
  -webkit-box-shadow: 0 8px 6px -6px #777;
  -moz-box-shadow: 0 8px 6px -6px #777;
  box-shadow: 0 8px 6px -6px #777; }

.btn-menu {
  text-align: center;
  margin: auto;
  margin-top: 60px;
  display: flex;
  width: inherit;
  display: inline-block; }
  .btn-menu .btn-group {
    -webkit-box-shadow: 0 8px 6px -6px #777;
    -moz-box-shadow: 0 8px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777; }

#sort-msg {
  text-align: center;
  margin-top: 1em; }

.badge {
  margin-left: 9px;
  float: right; }

a {
  color: #000063; }

.link-icon {
  float: right;
  margin-left: 3px; }

#nanobar .bar {
  margin: 0 auto;
  border-radius: 4px; }

#timeline-container {
  width: 512px; }

.floating-action-btn {
  box-shadow: 0 2px 2px 1px #777;
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  background: #1976d2;
  position: fixed;
  z-index: 99;
  bottom: 40px;
  right: 30px;
  color: #fff;
  text-align: center;
  transition: all .1s ease-out;
  line-height: 56px;
  font-size: 18px; }
  .floating-action-btn:hover {
    box-shadow: 0 1px 1px .5px #777; }

section:not(.year) .project-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 8px -8px #777;
  -moz-box-shadow: 0 5px 8px -8px #777;
  box-shadow: 0 5px 8px -8px #777;
  transition: all .4s ease-out; }
  section:not(.year) .project-item:hover {
    margin-left: 12px !important;
    -webkit-box-shadow: 0 10px 10px -10px #777;
    -moz-box-shadow: 0 10px 10px -10px #777;
    box-shadow: 0 10px 10px -10px #777; }

.small-date {
  font-size: .6em; }

.desc {
  display: none;
  font-size: 16px;
  font-size: 1.8vw;
  height: 500px;
  overflow-y: scroll; }
  .desc h1 {
    display: none; }
  .desc h2 {
    font-size: 1.2em; }
  .desc h5 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; }
  .desc code {
    margin-left: 6px; }
  .desc a {
    margin-top: 20px; }
  .desc li {
    list-style-type: circle; }
