body {
  background-color: #FAFAFA; }

.page-header {
  margin-top: 4em;
  text-align: center; }

.searchbar {
  margin: auto;
  margin-top: 3em;
  width: 50%;
  -webkit-box-shadow: 0 8px 6px -6px #777;
  -moz-box-shadow: 0 8px 6px -6px #777;
  box-shadow: 0 8px 6px -6px #777; }

.btn-menu {
  text-align: center;
  margin: auto;
  margin-top: 4em;
  display: flex;
  width: inherit;
  display: inline-block; }
  .btn-menu .btn-group {
    -webkit-box-shadow: 0 8px 6px -6px #777;
    -moz-box-shadow: 0 8px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777; }

#sort-msg {
  text-align: center;
  margin-top: 1em; }

.color-a {
  color: #fff;
  background-color: #1976d2;
  border-color: #1976d2; }

.color-b {
  color: #fff;
  background-color: #d84315;
  border-color: #d84315; }

.color-c {
  color: #fff;
  background-color: #689f38;
  border-color: #689f38; }

.color-d {
  color: #fff;
  background-color: #c2185b;
  border-color: #c2185b; }

.badge {
  margin-left: .75em;
  float: right; }

a {
  color: #000063; }
